
USE KQT
SELECT * FROM USERINFO WHERE NAME LIKE(N'周青%')
SELECT * FROM USERINFO WHERE DEFAULTDEPTID = 6
SELECT * FROM USERINFO WHERE USERID = 537

SELECT USERID,
		NAME
FROM USERINFO

SELECT * FROM TEMPLATE WHERE USERID = N'1350' 

SELECT * FROM CHECKINOUT WHERE USERID = N'1335' ORDER BY CHECKTIME DESC

SELECT USERID,CHECKTIME FROM CHECKINOUT WHERE USERID = N'1335' ORDER BY CHECKTIME DESC

SELECT * FROM USERINFO

INSERT INTO USERINFO (USERID,CHECKTIME,CHECKTYPE,VERIFYCODE,SENSORID,Memoinfo,WorkCode,sn,UserExtFmt) VALUES(N'',N'',N'',N'',N'',N'',N'',N'',N'')
INSERT INTO CHECKINOUT(USERID,CHECKTIME,CHECKTYPE,VERIFYCODE,SENSORID,Memoinfo,WorkCode,sn,UserExtFmt) VALUES(N'',N'2018-06-01 08:42:55',N'I',N'1',N'9',NULL,N'0',N'3399151900277',N'1')
DELETE FROM CHECKINOUT WHERE USERID = N'1335' AND CHECKTIME = N'2018-06-01 18:01:41.000'




select name from sys.tables




INSERT INTO CHECKINOUT(USERID,CHECKTIME,CHECKTYPE,VERIFYCODE,SENSORID,Memoinfo,WorkCode,sn,UserExtFmt) VALUES(N'728',N'2018-03-10 08:49:51',N'I',N'1',N'9',N'NULL',N'0',N'3399151900277',N'1')

SELECT * FROM CHECKINOUT WHERE Memoinfo = N'NULL'
UPDATE CHECKINOUT SET Memoinfo = NULL WHERE Memoinfo = N'NULL'

UPDATE CHECKINOUT SET CHECKTIME = N'2018-04-01 08:42:55' WHERE CHECKTIME = N'2018-04-01 09:02:03.000'







INSERT INTO CHECKINOUT(USERID,CHECKTIME,CHECKTYPE,VERIFYCODE,SENSORID,Memoinfo,WorkCode,sn,UserExtFmt) VALUES(N'1350',N'2018-04-01 08:37:18',N'I',N'1',N'9',NULL,N'0',N'3399151900277',N'1')




